body {
    background-color: rgb(26, 24, 24);

}
h1 {
    color: #d36d0e;
    font-size: 50px;
    text-shadow: 3px 2px 1px #db4237;
    text-align: center;
    padding-top: 3px;
}

header {
    margin: 6px;
    margin-bottom: 10px;
    background-color: black;
}

nav {
    button {
        display: block; margin: auto;
    }
}